<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="templated-email.ZPM">
    <Module>
      <Name>templated-email</Name>
      <Description>A module for generating and sending beautiful HTML emails using Jinja2 templates.</Description>
      <Version>1.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="TemplatedEmail.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
